@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root{
    --verde:#CDF810;
    --background:#111213;
    --roxo:#513E83;
    --branco:#FFFFFF;
}
.git {
            width: 30px;
            height: 30px;
        }
html{
    font-family:'Ubuntu',sans-serif;
    background-color: var(--background);
    min-height:100vh;
    color:var(--branco);
}
body{
    display:flex;
    flex-direction:column;
    min-height:100vh;
    font-family:'Ubuntu',sans-serif;
    background-color: var(--background);
    color:var(--branco);
}


nav{
    background-color: var(--background);
    border-bottom:1px solid var(--verde);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:18px 40px;
}

nav h1{
    color:var(--verde);
    font-size:2.3rem;
    font-weight:700;
}

.links{
    display:flex;
    gap:30px;
}

nav a{
    color:var(--verde);
    text-decoration:none;
    font-size:1.2rem;
}

nav a:hover{
    text-decoration:underline;
}


.card{
    background-color: #372C56 !important;
    border:none;
    border-radius:10px;
    max-width:650px;
    height: 400px !important;
}

.card h2{
    color:white;
    font-weight:500;
    margin-bottom:30px;
}
.btn-primary {
    background: var(--verde);
    border: none;
    color: #000;
    font-weight: bold;
    padding: 15px 40px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.2s ease;
    clip-path: polygon(15% 0%, 85% 0%, 100% 50%, 85% 100%, 15% 100%, 0% 50%);
}

.btn-primary:hover {
    background: #dfff45 !important;
    transform: scale(1.03); 
}
.btn-primary{
    background:var(--verde) !important;
    border:none;
    color:#000 !important;
    font-weight:bold;
    font-size:2rem !important;
    font-family:'Ubuntu',sans-serif;
    font-weight:700;
    padding:15px 40px !important;
}

footer{
    background:var(--verde);
    color:#000;
    text-align:center;
    padding:10px;
    font-weight:500;
}
.container-fluid{
    flex:1;
    background:var(--background);
}

/* Quiz */

        .topo {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 2px solid #c8ff00;
            color: #c8ff00;
            padding: 14px 24px;
            font-size: 34px;
            font-weight: bold;
            background-color: var(--background);
        }

        .enunciado {
            font-size: 28px;
            line-height: 1.4;
            margin-bottom: 24px;
            white-space: pre-line;
            color: var(--branco)
        }

        .alternativas form {
            display: flex;
            flex-direction: column;
            gap: 12px;
        }

        .btn-alt {
            border: none;
            cursor: pointer;
            text-align: left;
            background: #c8ff00;
            color: #111;
            font-weight: bold;
            font-size: 30px;
            font-family: monospace;
            padding: 14px 16px;
        }

        .btn-alt:hover {
            filter: brightness(.95);
        }

        .rodape {
            margin-top: 20px;
            color: #c8ff00;
            font-size: 20px;
            background-color: var(--background);
        }